[submodule "Bookcase/CBETA/figures"]
	path = Bookcase/CBETA/figures
	url = https://github.com/cbeta-git/CBR2X-figures.git
[submodule "Bookcase/CBETA/gaiji-CB"]
	path = Bookcase/CBETA/gaiji-CB
	url = https://github.com/cbeta-org/gaiji-CB.git
[submodule "Bookcase/CBETA/help"]
	path = Bookcase/CBETA/help
	url = https://github.com/cbeta-git/CBR2X-help.git
[submodule "Bookcase/CBETA/rj-gif"]
	path = Bookcase/CBETA/rj-gif
	url = https://github.com/cbeta-org/rj-gif.git
[submodule "Bookcase/CBETA/sd-gif"]
	path = Bookcase/CBETA/sd-gif
	url = https://github.com/cbeta-org/sd-gif.git
[submodule "Bookcase/CBETA/toc"]
	path = Bookcase/CBETA/toc
	url = https://github.com/cbeta-git/CBR2X-toc.git
[submodule "Bookcase/CBETA/XML"]
	path = Bookcase/CBETA/XML
	url = https://github.com/cbeta-git/CBR2X-XML.git
[submodule "Bookcase/CBETA/index"]
	path = Bookcase/CBETA/index
	url = https://gitlab.com/heavenchou/cbr2x-index2.git
